---
category:
    shop_by_price: true
    products:
        limit: 30
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{#if category.name "===" "Back To School"}}
<div class="backtoSchoolBanner">
    <div class="bannerImg">
       <img class="__mce_add_custom__" title="bannerimg.png" src="https://cdn11.bigcommerce.com/s-uw1sngtcbn/product_images/uploaded_images/bannerimg.png" alt="bannerimg.png"/>
    </div>
    <div class="schoolBannerText">
       <div class="container">
          <div class="bannerTextInner">
             <h1>Back To School</h1>
             <p>Welcome to E Clips USA, your one-stop-shop for high-quality, low-cost school supplies!</p>
             <a class="schoolBannerBtn linkButton yellowBtn" href="#backToSchool">Order Now</a>
          </div>
       </div>
    </div>
 </div>
 <div class="backToSchoolProducts" id="backToSchool">
    <h1>All your School needs in one place</h1>
    <div class="backtoProductArea">
        {{#if category.products}}
            {{> components/category/product-listing settings=../settings}}
        {{else}}
            <p>{{lang 'categories.no_products'}}</p>
        {{/if}}
        {{{region name="category_below_content"}}}
    </div>
 </div>
 <div class="getInTouchSchool twoColBox">
    <div class="imageCol">
       <img class="__mce_add_custom__" title="aboutdeal.png" src="https://cdn11.bigcommerce.com/s-uw1sngtcbn/product_images/uploaded_images/aboutdeal.png"
          alt="aboutdeal.png" width="552" height="513" />
    </div>
    <div class="contentCol spaceLeft">
       <h1 class="titleWithBar">Get the Best Deals Without Any Trade-offs on Classroom Essentials!</h1>
       <p>Our focus is on providing affordable, top-notch supplies for schools of all sizes, with a particular emphasis
          on urban and low-income schools. Our mission is to ensure that every student has access to the resources
          they need to succeed, no matter their circumstances.
       </p>
       <a class="linkButton yellowBtn" href="https://eclipsusa.com/contact-us/">Get in touch</a>
    </div>
 </div>
 <div class="whyChooseUs">
    <h1 class="sectionTitle">So why choose E Clips?</h1>
    <div class="whyChooseUs twoColBox">
       <div class="imageCol"><img class="__mce_add_custom__" title="whychoose.png"
          src="https://cdn11.bigcommerce.com/s-uw1sngtcbn/product_images/uploaded_images/whychoose.png"
          alt="whychoose.png" width="550" height="408" /></div>
       <div class="contentCol spaceLeft">
          <h2>Custom landing pages for Your clients</h2>
          <p>We know that parents play a critical role in the back-to-school shopping process. That's why we offer a
             dedicated landing page for each school, where parents can find everything they need to purchase for the
             upcoming school year. This landing page is customized for each school to ensure that parents can easily
             find the specific supplies their children need.
          </p>
          <a class="linkButton blueBtn" href="https://eclipsusa.com/contact-us/">View Demo</a>
       </div>
    </div>
    <div class="managerBox twoColBox">
       <div class="contentCol spaceRight">
          <h2>Dedicated Account Manager</h2>
          <p>We know that parents play a critical role in the back-to-school shopping process. That's why we offer a
             dedicated landing page for each school, where parents can find everything they need to purchase for the
             upcoming school year. This landing page is customized for each school to ensure that parents can easily
             find the specific supplies their children need.
          </p>
          <a class="linkButton blueBtn" href="/login.php?action=create_account">Create Account</a>
       </div>
       <div class="imageCol"><img class="__mce_add_custom__" title="manager.png"
          src="https://cdn11.bigcommerce.com/s-uw1sngtcbn/product_images/uploaded_images/manager.png"
          alt="manager.png" width="1000" height="667" /></div>
    </div>
    <div class="partner twoColBox">
       <div class="imageCol"><img class="__mce_add_custom__" title="partner.jpg"
          src="https://cdn11.bigcommerce.com/s-uw1sngtcbn/product_images/uploaded_images/partner.jpg"
          alt="partner.jpg" width="2000" height="1331" /></div>
       <div class="contentCol spaceLeft">
          <h2>Procurement Partners</h2>
          <p>We understand that procurement can be a complex and time-consuming process, which is why we've partnered
             with a variety of leading suppliers to make it as easy as possible for you. Our procurement partners are
             carefully vetted to ensure that they meet our high standards for quality and affordability.
          </p>
          <a class="linkButton blueBtn" href="https://eclipsusa.com/contact-us/">Get in touch</a>
       </div>
    </div>
 </div>
{{else}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#if category.image}}
    <div class="category-main-image bbxcx">
        {{> components/common/responsive-img
            image=category.image
            fallback_size=theme_settings.zoom_size
            lazyload=theme_settings.lazyload_mode
        }}
    </div>
    {{/if}}

    <div class="page category">
        {{#if category.faceted_search_enabled}}
            <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{else if category.subcategories}}
            <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{else if category.shop_by_price}}
            {{#if theme_settings.shop_by_price_visibility}}
                <aside class="page-sidebar" id="faceted-search-container">
                    {{> components/category/sidebar}}
                </aside>
            {{/if}}
        {{/if}}

        <main class="page-content" id="product-listing-container">
        <h1 class="page-heading">{{category.name}}</h1>
        {{{region name="category_below_header"}}}
        {{{category.description}}}
        <!--LONE STAR CUSTOM SUBCATEGORY GRID-->
        {{#if category.subcategories}}
            <div class="subcategory-grid {{#if theme_settings.show_mobile_subcategory_grid '===' true}} visible-on-mobile{{/if}}">
                <ul class="navList">
                    {{#each category.subcategories}}
                        <li class="subcategory-item">
                            <div class="subcategory-link-container">
                                <a class="subcateogory-image-link" href="{{url}}" alt="{{name}}">
                                    {{#if image}}
                                        <div class="subcategory-image uploaded" style="background-image: url('{{getImage image}}');"><br /></div></a>
                                        {{else}}
                                        <div class="subcategory-image placeholder-image zoom-image-container"><br /></div></a>
                                    {{/if}}
                            </div>
                                <a class="subcategory-link" href="{{url}}" alt="{{name}}"><span class="subcategory-name">{{name}}</span></a>
                            <div class="clear"></div>
                        </li>
                    {{/each}}
                </ul>
        {{/if}}
            {{#if category.products}}
                {{> components/category/product-listing settings=../settings}}
            {{else}}
                <p>{{lang 'categories.no_products'}}</p>
            {{/if}}
            {{{region name="category_below_content"}}}
        </main>

            <a class="navUser-action navUser-item--compare bottom" href="{{urls.compare}}" data-compare-nav>{{lang 'Compare Selected'}}<span class="countPill countPill--positive countPill--alt compare"></span></a>

    </div>
{{/if}}

{{/partial}}
{{> layout/base}}
