/*// PASTE CUSTOM STYLING HERE */
@font-face {font-family: "Poppins",Arial,Helvetica,sans-serif; 
    src: url("//db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.eot"); 
    src: url("//db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.svg#Poppins") format("svg"); 
}

.twoColBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    align-items: center;

    .imageCol,
    .contentCol {
        width: 50%;
    }

    .contentCol {
        .titleWithBar {
            font-family: Poppins,Arial,Helvetica,sans-serif;
            font-size: 44px;
            line-height: 54px;
            font-weight: 700;
            color: #000;
            margin-top: 0;
            padding-bottom: 20px;
            margin-bottom: 20px;
            position: relative;
            &::before
            {
                background-color: rgba(255, 216, 0, 1);
                height: 3px;
                width: 160px;
                bottom: 0;
                position: absolute;
                content: '';
            }
        }

        h2 {
            font-family: Poppins, Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 38px;
            line-height: 48px;
            margin-top: 0;
            color: #000;
            margin-bottom: 20px;
        }

        p {
            font-family: Poppins, Arial, Helvetica, sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #000;
        }

        &.spaceRight {
            // padding-right: 70px;
        }

        &.spaceLeft {
            // padding-left: 70px;
        }
    }
}
.linkButton.yellowBtn {
    background: #FFD800;
}

.linkButton.blueBtn {
    background: #69ABFD;
}

.linkButton {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    color: #100C08;
    padding: 4px 12px;
    display: inline-block;
    border: 2px solid #100C08;
    border-radius: 5px;
}
.linkButton:hover
{
    color: #fff;
}
.partner .imageCol img {
    max-width: 442px;
    border: 4px solid #FFD800;
    border-radius: 8px;
    box-shadow: 0px 24px 35px -12px rgba(0, 0, 0, 0.12);
    height: 447px;
    object-fit: cover;
    object-position: center;
}

.managerBox .imageCol img {
    box-shadow: 0px 24px 35px -12px rgba(0, 0, 0, 0.12);
    max-width: 480px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    border: 4px solid #FFD800;
    height: 427px;
    object-fit: cover;
    object-position: left;
}

.backToSchoolProducts h1 {
    font-family: Poppins,Arial,Helvetica,sans-serif;
    font-weight: Bold;
    font-size: 56px;
    line-height: 61px;
    text-align: center;
    max-width: 700px;
    color: #000;
    margin: 0 auto;
    border-bottom: 3px solid #ffd800;
    margin-top: 0;
    padding: 0 40px 20px;
}
.whyChooseUs {
    margin-top: 120px;
}
.whyChooseUs .sectionTitle {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: Bold;
    font-size: 56px;
    line-height: 61px;
    text-align: center;
    margin-top: 0;
    position: relative;
}

.sectionTitle::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 260px;
    background-color: #FFD800;
    bottom: -30px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.backtoSchoolBanner img {
    width: 100%;
}
.backtoSchoolBanner {
    width: 100vw;
    left: -50vw;
    position: relative;
    margin-left: 49.5%;
}
.backToSchoolProducts
{
    padding-top: 100px;
}
.bannerTextInner {
    max-width: 55%;
}
.schoolBannerText {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
.bannerTextInner h1 {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #000;
}
.bannerTextInner p {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: #000;
}
.schoolBannerBtn.linkButton.yellowBtn {
    padding: 4px 35px;
    margin-top: 10px;
}
body.backSchoolPage div#menu-wrapper, 
.backSchoolPage div#menu {
    background: #FFE270;
}
.backSchoolPage .body {
    margin-top: 0 !important;
}


.backToSchoolProducts .card-body p.card-text {
    display: inline-block;
    border: 1px solid;
    font-size: 12px;
    color: #100C08;
    border-radius: 20px;
    padding: 0px 12px 0px 12px;
    line-height: 22px;
}
.backToSchoolProducts .card-body h4.card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-top: 12px;
    overflow: hidden;
    color: #100C08;
    height: 45px;
}
.backToSchoolProducts .card-body p[translate],
.backToSchoolProducts .orderNowInner,
.backToSchoolProducts .cardPrice
{
    border-radius: 5px;
    display: inline-block;
    border: 2px solid #100c08;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000;
    margin-top: 22px;
    margin-bottom: 45px;
    text-decoration: none;
    padding: 5px 15px;
}
.backToSchoolProducts .card-body p[translate],
.backToSchoolProducts .orderNowInner {
    background: #ffd800;
}
.backToSchoolProducts .cardPrice {
    background: #69ABFD;
}
.backtoProductArea form.actionBar {
    display: none;
}
.backToSchoolProducts article.card:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 8px rgba(0, 0, 0, 0.18);
    border-radius: 6px;
    overflow: hidden;
}
.backToSchoolProducts .product:hover
{
    overflow: visible;
}
.priceAndOrder .card-text {
    margin: 0;
}
.backToSchoolProducts article.card:hover .orderNowCard {
    display: block;
}
.backToSchoolProducts .orderNowCard,
.backToSchoolProducts article.card:hover .cardPrice {
    display: none;
}
/**********************************/
/**********************/
/***********/
@media only screen and (max-width: 1199px)
{
    .bannerTextInner h1
    {
        font-size: 62px;
        line-height: 80px;
    }
    .bannerTextInner p
    {
        font-size: 20px;
    }
    .twoColBox .contentCol .titleWithBar
    {
        font-size: 32px;
        line-height: 36px;
    }
    .twoColBox .contentCol p
    {
        font-size: 16px;
    }
    .whyChooseUs {
        margin-top: 60px;
    }
    .twoColBox .contentCol h2
    {
        font-size: 30px;
        line-height: 36px;
    }
    .managerBox .imageCol img
    {
        max-width: 400px;
    }
    .partner .imageCol img
    {
        max-width: 420px;
    }
}
@media only screen and (min-width: 991px)
{
    .backtoProductArea .productGrid .product {
        width: 20%;
    }
}

@media only screen and (max-width: 767px)
{
    .bannerTextInner h1
    {
        font-size: 46px;
        line-height: 46px;
    }
    
    .bannerTextInner p
    {
        font-size: 18px;
        line-height: 25px;
    }
    .backToSchoolProducts h1 {
        font-size: 36px;
        line-height: 45px;
        max-width: 100%;
        padding: 10px 0 20px;
    }
    .twoColBox {
        flex-direction: column;
    }
    .twoColBox .contentCol, .twoColBox .imageCol {
        width: 100%;
    }
    .whyChooseUs .sectionTitle
    {
        font-size: 42px;
        line-height: 45px;
    }
    .managerBox .imageCol img,
    .partner .imageCol img
    {
        max-width: 100%;
        height: auto;
        margin: 15px 0;
    }
    .managerBox.twoColBox .imageCol {
        order: -1;
    }
    .backToSchoolProducts {
        padding-top: 50px;
    }
    .backToSchoolProducts .card-body p[translate], .backToSchoolProducts .card-text.cardPrice, .backToSchoolProducts .orderNowInner
    {
        margin: 15px 0;
        font-size: 16px;
    }
    .backToSchoolProducts .card-body h4.card-title {
        font-size: 18px;
        line-height: 17px;
        height: 50px;
    }
}

@media only screen and (max-width: 520px)
{
    .bannerTextInner {
        max-width: 100%;
    }
    .schoolBannerText {
        position: relative;
    }
    .bannerTextInner h1 {
        font-size: 28px;
        line-height: 30px;
    }
    .bannerTextInner p {
        font-size: 16px;
        line-height: 20px;
    }
}
