<div class="productView" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}}>
{{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert/alert-success success}}
        {{/if}}
    {{/each}}

    <section class="productView-details">
        <div class="productView-product">
            <h1 class="productView-title">{{product.title}}</h1>
            {{#if product.brand}}
                <h2 class="productView-brand">
                    <a href="{{product.brand.url}}"><span>{{product.brand.name}}</span></a>
                </h2>
            {{/if}}
            <div class="productView-rating"{{#if product.num_reviews '>' 0}}{{/if}}>
                {{#if settings.show_product_rating}}
                    {{> components/products/ratings rating=product.rating}}
                    <span class="productView-reviewLink scroll-to-view">
                        {{#if product.num_reviews '>' 0}}
                            <a href="{{product.url}}#product-reviews">
                                {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                            </a>
                        {{else}}
                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                        {{/if}}
                    </span>
                {{/if}}
                {{#if settings.show_product_reviews}}
                    <span class="productView-reviewLink">
                        <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                           {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                           {{lang 'products.reviews.new'}}
                        </a>
                    </span>
                    {{> components/products/modals/writeReview}}
                {{/if}}
            </div>
            {{#if product.call_for_price}}
                <p class="productView-price">
                    <span>{{product.call_for_price}}</span>
                </p>
            {{/if}}
            <div class="productView-price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=product.price schema_org=schema}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            {{{region name="product_below_price"}}}
            {{product.detail_messages}}
            <dl class="productView-info">
                {{#if product.sku}}
                  <div class="line-item-details sku">
                    <dt class="productView-info-name">{{lang 'products.sku'}}</dt>
                    <dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
                  </div>
                {{/if}}
                {{#if product.upc}}
                <div class="line-item-details upc">
                    <dt class="productView-info-name">{{lang 'products.upc'}}</dt>
                    <dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
                </div>
                {{/if}}
                {{#if product.condition}}
                <div class="line-item-details condition">
                    <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                    <dd class="productView-info-value">{{product.condition}}</dd>
                </div>
                {{/if}}
                {{#if product.availability}}
                <div class="line-item-details availability">
                    <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                    <dd class="productView-info-value">{{product.availability}}</dd>
                </div>
                {{/if}}
                {{#all product.weight theme_settings.show_product_weight}}
                <div class="line-item-details weight">
                    <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                    <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                </div>
                {{/all}}
                {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                <div class="line-item-details width">
                    <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                    <dd class="productView-info-value" data-product-width>
                        {{product.width}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                  </div>
                  <div class="line-item-details height">
                    <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                    <dd class="productView-info-value" data-product-height>
                        {{product.height}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                  </div>
                  <div class="line-item-details depth">
                    <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                    <dd class="productView-info-value" data-product-depth>
                        {{product.depth}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                  </div>
                {{/all}}
                {{#if product.min_purchase_quantity}}
                <div class="line-item-details qty">
                    <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                </div>
                {{/if}}
                {{#if product.max_purchase_quantity}}
                <div class="line-item-details max-purchase">
                    <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                </div>
                {{/if}}
                {{#if product.gift_wrapping_available}}
                <div class="line-item-details gift-wrapping">
                    <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                </div>
                {{/if}}
                {{#if product.shipping}}
                    {{#if product.shipping.calculated}}
                    <div class="line-item-details shipping">
                        <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                    </div>
                    {{else}}
                        {{#if product.shipping.price.value '===' 0}}
                        <div class="line-item-details shipping">
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                        </div>
                        {{else}}
                        <div class="line-item-details shipping">
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                        </div>
                        {{/if}}
                    {{/if}}
                {{/if}}

                {{#if settings.bulk_discount_enabled}}
                   <div class="productView-info-bulkPricing">
                       {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                   </div>
               {{/if}}

                {{#each product.custom_fields}}
                <div class="line-item-details custom-fields">
                    <dt class="productView-info-name">{{name}}:</dt>
                    <dd class="productView-info-value">{{{value}}}</dd>
                </div>
                {{/each}}
            </dl>
        </div>
    </section>

    <section class="productView-images" data-image-gallery>
       {{!--
           Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
           for variant/rule image replacement
       --}}
       <figure class="productView-image"
               data-image-gallery-main
               {{#if product.main_image}}
               data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
               {{/if}}
               >
           <div class="productView-img-container">
               {{!-- Remove the surrounding a-element if there is no main image. --}}
               {{#if product.main_image}}
                   <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                       target="_blank">
               {{/if}}
               {{> components/common/responsive-img
                   image=product.main_image
                   class="productView-image--default"
                   fallback_size=theme_settings.product_size
                   lazyload=theme_settings.lazyload_mode
                   default_image=theme_settings.default_image_product
                   otherAttributes="data-main-image"
               }}
               {{!-- Remove the surrounding a-element if there is no main image. --}}
               {{#if product.main_image}}
                   </a>
               {{/if}}
           </div>
       </figure>
       <ul class="productView-thumbnails"{{#gt product.images.length 5}} data-slick='{
               "infinite": false,
               "mobileFirst": true,
               "slidesToShow": 5,
               "slidesToScroll": 1
           }'{{/gt}}>
           {{#each product.images}}
               <li class="productView-thumbnail">
                   <a
                       class="productView-thumbnail-link"
                       href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                       data-image-gallery-item
                       data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                       data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                       data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                   >
                   {{> components/common/responsive-img
                       image=this
                       fallback_size=../theme_settings.productview_thumb_size
                       lazyload=../theme_settings.lazyload_mode
                   }}
                   </a>
               </li>
           {{/each}}
       </ul>
   </section>

    <section class="productView-details">
        <div class="productView-options">
            {{#if product.release_date }}
                <p>{{product.release_date}}</p>
            {{/if}}
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                  data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}"/>
                {{#each product.customizations}}
                        {{{dynamicComponent 'components/products/customizations'}}}
                    {{/each}}
                <div data-product-option-change style="display:none;">
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>
                <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                    <label class="form-label form-label--alternate">
                        {{lang 'products.current_stock'}}
                        <span data-product-stock>{{product.stock_level}}</span>
                    </label>
                </div>
                {{> components/products/add-to-cart}}
                {{#if product.out_of_stock}}
                    {{#if product.out_of_stock_message}}
                        {{> components/common/alert/alert-error product.out_of_stock_message}}
                    {{else}}
                        {{> components/common/alert/alert-error (lang 'products.sold_out')}}
                    {{/if}}
                {{/if}}
            </form>
            {{#if settings.show_wishlist}}
                {{> components/common/wishlist-dropdown}}
            {{/if}}
        </div>
        {{> components/common/share}}
        {{{snippet 'product_details'}}}
    </section>
</div>

<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>
